{%- style -%}
  .header-top {
    padding-top: {{ section.settings.padding_top | times: 1 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 1 | round: 0 }}px;
  }
{%- endstyle -%}

<div class="header-top color-{{ section.settings.color_scheme }} gradient" role="region">
  <div class="page-width">
    <div class="header-top-inner">
      <div class="header-top-left">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'header-top' -%}
              {%- if block.settings.text != blank -%}
                {%- if block.settings.link != blank -%}
                  <a
                    href="{{ block.settings.link }}"
                    class="header-top__link link link--text focus-inset animate-arrow"
                  >
                {% else %}
                  <div class="header-top_link">
                {%- endif -%}
                {%- if block.settings.icon != blank -%}
                  <div class="header-top-icon"><img src="{{ block.settings.icon | img_url: "master" }}"></div>
                {%- endif -%}
                <p class="header-top__message">
                  {{ block.settings.text | escape }}
                </p>
                {%- if block.settings.link != blank -%}
                  </a>
                {% else %}
                  </div>
                {%- endif -%}
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>

      <div class="header-top-center">
        <span>{{ section.settings.headertop_text }}</span>
      </div>

      <div class="header-top-right">
        {%- if shop.customer_accounts_enabled -%}
          <div class="header__icon tm_header-dropdown site-header__icon">
            <div class="user-background">
              <div class="account">
                {% render 'icon-account' -%}
                {{- 'customer.welcome_msg' | t }}
                {% render 'icon-caret' -%}
              </div>
            </div>
            <ul class="my-account">
              <li class="account_login">
                {%- if customer -%}
                  <a href="{{ routes.account_logout_url }}">
                    {{ 'customer.log_out' | t }}
                  </a>
                {%- else -%}
                  <a href="{{ routes.account_login_url }}">
                    {{ 'customer.log_in' | t }}
                  </a>
                {% endif %}
              </li>
              <li class="account_register">
                {%- if customer -%}
                  <a href="{{ routes.account_url }}">
                    {{ 'customer.account_fallback' | t }}
                  </a>
                {%- else -%}
                  <a href="{{ routes.account_register_url }}">
                    {{ 'customer.register.register' | t }}
                  </a>
                {% endif %}
              </li>
            </ul>
          </div>
        {%- endif -%}
        {%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
          <div class="header__localization">
            {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
              <localization-form>
                {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                  <div class="no-js-hidden">
                    <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                      {{ 'localization.country_label' | t }}
                    </h2>
                    {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                  </div>
                {%- endform -%}
              </localization-form>
            {% endif %}

            {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
              <localization-form>
                {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                  <div class="no-js-hidden">
                    <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                      {{ 'localization.language_label' | t }}
                    </h2>
                    {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                  </div>
                {%- endform -%}
              </localization-form>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('.disclosure__list-wrapper'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

<script>
  function responsivecolumn(){
    if ($(document).width() <= 989)
      {
        $('.header-top .header-top-left .header-top__link').appendTo('#menu-drawer.main-menu .menu-drawer__navigation-container .menu-drawer__navigation');
      }
      else
      {
        $('#menu-drawer.main-menu .menu-drawer__navigation-container .menu-drawer__navigation .header-top__link').appendTo('.header-top .header-top-left');
      }
    if ($(document).width() <= 989)
      {
        $('.header-top .header-top-center span').appendTo('#menu-drawer.main-menu .menu-drawer__navigation-container .menu-drawer__navigation');
      }
      else
      {
        $('#menu-drawer.main-menu .menu-drawer__navigation-container .menu-drawer__navigation span').appendTo('.header-top .header-top-center');
      }
  }
  $(document).ready(function(){responsivecolumn();});
  $(window).resize(function(){responsivecolumn();});
</script>

{% schema %}
{
  "name": "t:sections.header-top.name",
  "max_blocks": 5,
  "class": "header-top-section",
  "settings": [
  {
    "type": "header",
    "content": "t:sections.header.settings.header__3.content",
    "info": "t:sections.header.settings.header__4.info"
  },
  {
    "type": "checkbox",
    "id": "enable_country_selector",
    "default": true,
    "label": "t:sections.header.settings.enable_country_selector.label"
  },
  {
    "type": "header",
    "content": "t:sections.header.settings.header__5.content",
    "info": "t:sections.header.settings.header__6.info"
  },
  {
    "type": "checkbox",
    "id": "enable_language_selector",
    "default": true,
    "label": "t:sections.header.settings.enable_language_selector.label"
  },
  {
    "type": "select",
    "id": "color_scheme",
    "options": [
      {
        "value": "accent-1",
        "label": "t:sections.all.colors.accent_1.label"
      },
      {
        "value": "accent-2",
        "label": "t:sections.all.colors.accent_2.label"
      },
      {
        "value": "accent-3",
        "label": "t:sections.all.colors.accent_3.label"
      },
      {
        "value": "background-1",
        "label": "t:sections.all.colors.background_1.label"
      },
      {
        "value": "background-2",
        "label": "t:sections.all.colors.background_2.label"
      },
      {
        "value": "inverse",
        "label": "t:sections.all.colors.inverse.label"
      }
    ],
    "default": "accent-1",
    "label": "t:sections.all.colors.label"
  },
  {
    "type": "richtext",
    "id": "headertop_text",
    "default": "<p>Winter-Season Sale Up To 25% OFF Use Coupne Code</p>",
    "label": "t:sections.header-top.settings.headertop_text.label"
  },
  {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 6
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 6
    }
  ],
  "blocks": [
    {
      "type": "header-top",
      "name": "t:sections.header-top.blocks.header-top.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "t:sections.header-top.blocks.header-top.settings.icon.label"
        },
        {
          "type": "text",
          "id": "text",
          "default": "Find Store",
          "label": "t:sections.header-top.blocks.header-top.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.header-top.blocks.header-top.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "header-top"
      }
    ]
  }
}
{% endschema %}
