{{ 'section-subbanners.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="banners section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="page-width-inner {{ section.settings.addclass }}">
      <div class="sub-banner-banner">
        {%- assign i = 1 -%}
        {% for block in section.blocks %}
          <div class="sub-banner banner-{{ i }}">
            {%- if block.settings.subbanner != blank -%}
              <div class="banner-inner contains-media">
                <a href="{{ block.settings.button_link }}">
                  <img src="{{ block.settings.subbanner | img_url: "master" }}" itemprop="banner">
                </a>
              </div>
            {%- else -%}
              <span>
                {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg' }}
              </span>
            {%- endif -%}

            <div class="subbanner-description textcolor-{{ block.settings.color_scheme }} subbanner__content--{{ section.settings.content_alignment }} {% if section.settings.column_alignment == 'center' %} center{% endif %} {% if section.settings.column_alignment == 'left' %} left{% endif %} {% if section.settings.column_alignment == 'right' %} right{% endif %}">
              <div class="subbanner-custom">
                <div class="subbanner-heading">
                  {{ block.settings.heading }}
                </div>
                <div class="subbanner-subheading">
                  {{ block.settings.subheading }}
                </div>
              </div>
              {% if block.settings.button_label != blank %}
                <div class="text-button">
                  <div class="cms__btn {% if block.settings.button_style == 'link' %} link{% endif %}">
                    <a
                      class="{% if block.settings.button_style == 'button' %} button{% endif %}"
                      href="{{ block.settings.button_link }}"
                    >
                      {{- block.settings.button_label | escape -}}
                    </a>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
          {%- assign i = i | plus: 1 -%}
        {% endfor %}
      </div>
    </div>
    {% if section.blocks.size == 0 %}
      <div class="placeholder-noblocks">
        {{ 'homepage.onboarding.no_content' | t }}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
 {
   "name": "t:sections.subbanners.name",
   "tag": "section",
   "class": "section subbanners-section",
   "max_blocks": 3,
   "settings": [
   {
     "type": "text",
     "id": "addclass",
     "label": "t:sections.subbanners.settings.addclass.label",
	 "default": "two-banner"
   },
    {
       "type": "select",
       "id": "column_alignment",
       "options": [
         {
           "value": "left",
           "label": "t:sections.subbanners.settings.column_alignment.options__1.label"
         },
         {
           "value": "center",
           "label": "t:sections.subbanners.settings.column_alignment.options__2.label"
         },
         {
           "value": "right",
           "label": "t:sections.subbanners.settings.column_alignment.options__3.label"
         }
       ],
       "default": "left",
       "label": "t:sections.subbanners.settings.column_alignment.label"
      },
    {
       "type": "select",
       "id": "content_alignment",
       "options": [
         {
           "value": "left",
           "label": "t:sections.subbanners.settings.content_alignment.options__1.label"
         },
         {
           "value": "center",
           "label": "t:sections.subbanners.settings.content_alignment.options__2.label"
         },
         {
           "value": "right",
           "label": "t:sections.subbanners.settings.content_alignment.options__3.label"
         }
       ],
       "default": "left",
       "label": "t:sections.subbanners.settings.content_alignment.label"
      },
   {
       "type": "header",
       "content": "t:sections.all.padding.section_padding_heading"
     },
     {
       "type": "range",
       "id": "padding_top",
       "min": 0,
       "max": 100,
       "step": 4,
       "unit": "px",
       "label": "t:sections.all.padding.padding_top",
       "default": 0
     },
     {
       "type": "range",
       "id": "padding_bottom",
       "min": 0,
       "max": 100,
       "step": 4,
       "unit": "px",
       "label": "t:sections.all.padding.padding_bottom",
       "default": 0
     }
],
   "blocks": [
     {
       "type": "image",
	"name": "t:sections.subbanners.blocks.name",
       "settings": [
         {
           "type": "image_picker",
           "id": "subbanner",
           "label": "t:sections.subbanners.blocks.settings.subbanner.label"
         },
         {
           "type": "richtext",
           "id": "heading",
           "default": "<p>special offer!</p>",
           "label": "t:sections.subbanners.blocks.settings.heading.label"
         },
         {
           "type": "richtext",
           "id": "subheading",
           "default": "<p>Flutter & Butterfly<br>Pendant</p>",
           "label": "t:sections.subbanners.blocks.settings.subheading.label"
         },
	  {
           "type": "text",
           "id": "button_label",
           "label": "t:sections.subbanners.blocks.settings.button_label.label",
           "default": "Shop Now"
         },
         {
           "type": "url",
           "id": "button_link",
           "label": "t:sections.subbanners.blocks.settings.button_link.label"
         },
         {
           "type": "select",
           "id": "button_style",
           "options": [
             {
               "value": "link",
               "label": "t:sections.subbanners.blocks.settings.button_style.options__1.label"
             },
             {
               "value": "button",
               "label": "t:sections.subbanners.blocks.settings.button_style.options__2.label"
             }
           ],
           "default": "link",
           "label": "t:sections.subbanners.blocks.settings.button_style.label"
          },
         {
           "type": "select",
           "id": "color_scheme",
           "options": [
             {
               "value": "accent-1",
               "label": "t:sections.all.colors.accent_1.label"
             },
             {
               "value": "accent-2",
               "label": "t:sections.all.colors.accent_2.label"
             },
             {
               "value": "background-1",
               "label": "t:sections.all.colors.background_1.label"
             },
             {
               "value": "background-2",
               "label": "t:sections.all.colors.background_2.label"
             }
           ],
           "default": "accent-2",
           "label": "t:sections.all.colors.label"
         }
       ]
     }
   ],
"presets": [
     {
       "name": "t:sections.subbanners.presets.name"
     }
   ]
 }
{% endschema %}
