{{ 'tab_collection.css' | asset_url | stylesheet_tag }}
{%- if section.settings.enable_quick_add -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
    padding-left: {{ section.settings.padding_left | times: 0.5 | round: 0 }}px;
    padding-right: {{ section.settings.padding_right | times: 0.5 | round: 0 }}px;
  }
  .tabs-content .product-grid.owl-carousel li.slider__slide{
      padding: calc(var(--grid-mobile-horizontal-spacing) / 2 );
    }
  .collection .product-collection-tab-slider slider-component.slider-mobile-gutter{
    margin-inline: calc(calc(var(--grid-mobile-horizontal-spacing) / 2 ) - var(--grid-mobile-horizontal-spacing));
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      padding-left: {{ section.settings.padding_left }}px;
      padding-right: {{ section.settings.padding_right }}px;
    }
    .tabs-content .product-grid.owl-carousel li.slider__slide{
      padding: calc(var(--grid-desktop-horizontal-spacing) / 2 );
    }
    .collection .product-collection-tab-slider slider-component.slider-mobile-gutter{
      margin-inline: calc(calc(var(--grid-desktop-horizontal-spacing) / 2 ) - var(--grid-desktop-horizontal-spacing));
    }
  }
{%- endstyle -%}
<div class="page-width">
  <div class="color-{{ section.settings.color_scheme }} isolate gradient content-container">
    <div class="collection product_tab-block section-{{ section.id }}-padding">
      <div class="collection__title title-wrapper title-wrapper--no-top-margin{% if section.settings.full_width %} page-width{% endif %}{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
        {%- if section.settings.title != blank -%}
          <h2 class="title inline-richtext {{ section.settings.heading_size }}">{{ section.settings.title }}</h2>
        {%- endif -%}
        {%- if section.settings.description != blank and section.settings.collection.description != empty -%}
          <div class="collection__description {{ section.settings.description_style }} rte">
            {{ section.settings.description -}}
          </div>
        {%- endif -%}
        <div class="collection-header-text">
          <ul class="tabs">
            {%- assign i = 1 -%}
            {% for block in section.blocks %}
              {% if block.type == 'slider' %}
                <li>
                  <a href="#tab--{{ i }}">{{ block.settings.title1 | escape }}</a>
                </li>
              {% endif %}
              {% if block.type == 'grid' %}
                <li>
                  <a href="#tab--{{ i }}">{{ block.settings.title2 | escape }}</a>
                </li>
              {% endif %}
              {%- assign i = i | plus: 1 -%}
            {% endfor %}
          </ul>
        </div>

        {%- assign i = 1 -%}
        {% for block in section.blocks %}
          {% if block.type == 'slider' %}
            <div id="tab--{{ i }}" class="tabs-content">
              <div class="product-collection-tab-slider">
                {%- assign collection = collections[block.settings.collection1] -%}
                <div class="collection">
                  <slider-component class="slider-mobile-gutter">
                    <ul
                      id="Slider-{{ section.id }}"
                      class="product-grid owl-carousel contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} "
                      role="list"
                      aria-label="{{ 'general.slider.name' | t }}"
                    >
                      {%- for product in collection.products limit: section.settings.products_to_show -%}
                        {% assign remainder = forloop.index | modulo: 2 %}
                        {%- if remainder == 1 -%}
                          <li
                            id="Slide-{{ section.id }}-{{ forloop.index }}"
                          >
                          <ul>
                        {%- endif -%}
                        <li
                          id="Slide-{{ section.id }}-{{ forloop.index }}"
                          class="slider__slide"
                        >
                          {% render 'card-product',
                            card_product: product,
                            media_aspect_ratio: section.settings.image_ratio,
                            show_secondary_image: section.settings.show_secondary_image,
                            show_vendor: section.settings.show_vendor,
                            show_rating: section.settings.show_rating,
                            show_quick_add: section.settings.enable_quick_add,
                            button_style: section.settings.button_style,
                            show_counter: section.settings.show_counter,
                            section_id: section.id
                          %}
                        </li>
                        {%- if remainder == 0 -%}
                          </ul>
                          </li>
                        {%- endif -%}
                      {%- else -%}
                        {%- for i in (1..4) -%}
                          <li
                            {% if section.settings.enable_desktop_slider == false %}
                              grid__item
                            {% endif -%}
                            {% if show_mobile_slider or show_desktop_slider %}
                              slider__slide
                            {% endif %}
                          >
                            {%- assign placeholder_image = 'product-apparel-' | append: forloop.rindex -%}
                            {% render 'card-product', placeholder_image: placeholder_image %}
                          </li>
                        {%- endfor -%}
                      {%- endfor -%}
                    </ul>
                  </slider-component>
                </div>
              </div>
            </div>
          {% endif %}
          {%- assign i = i | plus: 1 -%}
        {% endfor %}

        {%- assign i = 1 -%}
        {% for block in section.blocks %}
          {% if block.type == 'grid' %}
            <div id="tab--{{ i }}" class="tabs-content">
              <div class="product-collection-tab-grid">
                {%- assign collection = collections[block.settings.collection2] -%}
                <div class="collection">
                  <slider-component class="slider-mobile-gutter">
                    <ul
                      id="Slider-{{ section.id }}"
                      class="product-grid grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} "
                      role="list"
                      aria-label="{{ 'general.slider.name' | t }}"
                    >
                      {% paginate collection.products by {{ section.settings.products_to_show }} %}
                        {%- for product in collection.products limit: section.settings.products_to_show -%}
                          <li
                            id="Slide-{{ section.id }}-{{ forloop.index }}"
                            class="grid__item"
                          >
                            {% render 'card-product',
                              card_product: product,
                              media_aspect_ratio: section.settings.image_ratio,
                              show_secondary_image: section.settings.show_secondary_image,
                              show_vendor: section.settings.show_vendor,
                              show_rating: section.settings.show_rating,
                              show_quick_add: section.settings.enable_quick_add,
                              button_style: section.settings.button_style,
                              show_counter: section.settings.show_counter,
                              section_id: section.id
                            %}
                          </li>
                        {%- else -%}
                          {%- for i in (1..4) -%}
                            <li
                              {% if section.settings.enable_desktop_slider == false %}
                                grid__item
                              {% endif -%}
                              {% if show_mobile_slider or show_desktop_slider %}
                                slider__slide
                              {% endif %}
                            >
                              {%- assign placeholder_image = 'product-apparel-' | append: forloop.rindex -%}
                              {% render 'card-product', placeholder_image: placeholder_image %}
                            </li>
                          {%- endfor -%}
                        {%- endfor -%}
                      {% endpaginate %}
                    </ul>
                  </slider-component>
                </div>
              </div>
            </div>
          {% endif %}
          {%- assign i = i | plus: 1 -%}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('.product_tab-block ul.tabs').each(function() {
        var active, content, links = $(this).find('a');
        active = links.first().addClass('active');
        content = $(active.attr('href'));
        links.not(':first').each(function() {
            $($(this).attr('href')).hide()
        });
        $(this).find('a').click(function(e) {
            active.removeClass('active');
            content.hide();
            active = $(this);
            content = $($(this).attr('href'));
            active.addClass('active');
            content.show();
            return !1
        })
    })
  });
</script>
<script>
    $(document).ready(function() {
      $('.product-collection-tab-slider .product-grid.owl-carousel').owlCarousel({
        loop: !0,
        nav: !1,
        dots: !0,
        autoplay: !1,
        responsive:{
          0:{
            items: {{ section.settings.columns_mobile | minus: 0 }}
          },
          320:{
            items: {{ section.settings.columns_desktop | minus: 1 }}
          },
          989:{
            items: {{ section.settings.columns_desktop | minus: 0 }}
          }
      }
      });
  });
</script>

{% schema %}
{
  "name": "t:sections.tab_collection.name",
  "tag": "section",
  "class": "section tab_collection",
  "max_blocks": 3,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Trending Products",
      "label": "t:sections.tab_collection.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.tab_collection.settings.description.label"
    },
    {
      "type": "select",
      "id": "description_style",
      "label": "t:sections.tab_collection.settings.description_style.label",
      "options": [
        {
          "value": "body",
          "label": "t:sections.tab_collection.settings.description_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.tab_collection.settings.description_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.tab_collection.settings.description_style.options__3.label"
        }
      ],
      "default": "body"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 8,
      "label": "t:sections.tab_collection.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 7,
      "step": 1,
      "default": 4,
      "label": "t:sections.tab_collection.settings.columns_desktop.label"
    },
     {
      "type": "header",
      "content": "t:sections.tab_collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.tab_collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.tab_collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.tab_collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.tab_collection.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_counter",
      "default": false,
      "label": "t:sections.tab_collection.settings.show_counter.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "t:sections.tab_collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "t:sections.tab_collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.tab_collection.settings.show_rating.label",
      "info": "t:sections.tab_collection.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": true,
      "label": "t:sections.tab_collection.settings.enable_quick_buy.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "Icon",
          "label": "t:sections.tab_collection.settings.button_style.options__1.label"
        },
        {
          "value": "button",
          "label": "t:sections.tab_collection.settings.button_style.options__2.label"
        }
      ],
      "default": "Icon",
      "label": "t:sections.tab_collection.settings.button_style.label"
     },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    },
     {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.featured-collection.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_left",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_right",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_right",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "slider",
      "name": "t:sections.tab_collection.blocks.name",
      "settings": [
        {
          "type": "text",
          "id": "title1",
          "default": "Featured",
          "label": "t:sections.tab_collection.blocks.settings.title1.label"
        },
        {
          "id": "collection1",
          "type": "collection",
          "label": "t:sections.tab_collection.blocks.settings.collection1.label"
        }
      ]
    },
    {
       "type": "grid",
       "name": "t:sections.tab_collection.blocks.name1",
      "settings": [
        {
          "type": "text",
          "id": "title2",
          "default": "Electronuic",
          "label": "t:sections.tab_collection.blocks.settings.title2.label"
        },
        {
          "id": "collection2",
          "type": "collection",
          "label": "t:sections.tab_collection.blocks.settings.collection2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.tab_collection.presets.name"
    }
  ]
}
{% endschema %}
